
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Privacidad</title>
        <link href="/bundles/framework/css/structure.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/bundles/framework/css/body.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/bundles/framework/css/exception.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <div id="content">
            <div class="header clear-fix">
                <div class="header-logo">
                    <img style="height: 64px;" src="{{ asset('bundles/cademreporte/images/logocadem.png') }}" alt="Cadem" />
                </div>
            </div>

            <div class="sf-reset">
                    <div class="block-exception">
    <div class="block-exception-detected clear-fix">
        <div class="text-exception" style="width: 820px">
            

            <h1 style="padding-bottom: 10px;">
                NAVEGADORES SOPORTADOS
            </h1>

            <div style="text-align: justify">
                <p>Analytics está diseñado para funcionar con los últimos navegadores.</p>
                <p>Recomendamos el uso de Google Chrome para un óptimo desempeño, ya que es rápido y se apega a la mayoría de los estándares de la WEB. Además para una mayor compatibilidad, también se soporta el uso de IE9+.</p>

                <h2 style="padding-bottom: 10px;">Vista de compatibilidad de IE</h2>
                <p>Solo se soporta el uso de IE en "modo de compatibilidad estándar". Si se ven errores extraños en las páginas es posible que se esté ejecutando IE en "Vista de Compatibilidad". Si es así, debe apagar este modo lo cual debería hacer que la aplicación web se muestre correctamente.</p>
                <ol>
                    <li>A</li>
                    <li>B</li>
                </ol>
            </div>
            
            
        </div>
    </div>
</div>
</body>
</html>
