
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Privacidad</title>
        <link href="/bundles/framework/css/structure.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/bundles/framework/css/body.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/bundles/framework/css/exception.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <div id="content">
            <div class="header clear-fix">
                <div class="header-logo">
                    <img style="height: 64px;" src="{{ asset('bundles/cademreporte/images/logocadem.png') }}" alt="Cadem" />
                </div>
            </div>

            <div class="sf-reset">
                    <div class="block-exception">
    <div class="block-exception-detected clear-fix">
        <div class="text-exception" style="width: 820px">
            

            <h1>
                POLÍTICA DE PRIVACIDAD.
            </h1>

            <div style="text-align: justify">
                El presente es una política de privacidad general ("<strong>Política de Privacidad</strong>") para Univision Communications Inc. y todas sus filiales corporativas (que existan en el presente o en el futuro), incluyendo, sin limitar: Univision Interactive Media, Inc, actuando bajo la denominación de Univision.com, The Univision Network Limited Partnership, Univision Television Group, Univision Radio, Inc., Univision Management Co., TeleFutura Network, TeleFutura Televisión Group, Inc., Galavision, Inc., Univision Studios, LLC, Univision of Puerto Rico, Inc., Univision Enterprises, LLC, Univision 24/7, LLC, Univision Deportes, LLC, Univision of Puerto Rico Real Estate Company and Univision TLNovelas, LLC (en lo sucesivo referidos conjuntamente como "Univision" o "nosotros"). Esta Política de Privacidad aplica para toda la información que recolectemos o adquirimos de y relacionada con consumidores a través de cualquier y todos los medios, canales y plataformas, ya sean dentro o fuera de Internet, vía celular o plataformas wireless, o cualquier otro, y existiendo en el presente o en el futuro, incluyendo, sin limitar, (i) a través de Univision.com y otros sitios web propiedad de o controladas por Univision y los sitios WAP asociados y sitios móviles, el servicio móvil de Univision, Univision Móvil y Univision-denominada "experiencia del consumidor", sitios de terceros, plataformas, canales, canales RSS, y aplicaciones (que incluyen widgets de aplicaciones pequeñas de Univision, plug-ins, etc., así como aplicaciones de Univision que operan en o en relación con sitios de terceros en medios sociales y plataformas, tales como aplicaciones para Facebook, Twitter, LinkedIn y Google/YouTube) (todo lo anterior, en lo sucesivo, la "Red Interactiva de Univision" o "Sitio"), y (ii) a través de otra colección, adquisición y canales de comercialización (por ejemplo, inscripción a cuentas de correo directo, de papel y teléfono, programas de venta cruzada, mercadotecnia entre compañias afiliadas, y nuestros Socios de Negocio (como se define adelante en la sección 2).
            </div>
            
            
        </div>
    </div>
</div>
</body>
</html>
